h5,
h6,
h1 {
  font-family: "Roboto", "Arial", sans-serif;
  color: white;
}

h2 {
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
}

button {
  font-family: Roboto, Noto Naskh Arabic UI, Arial, sans-serif;
}

.songcard:hover {
  border-radius: '40px';
  z-index: 10000;
  box-shadow: 0px 5px 15px rgba(255, 96, 239, 0.8);
  cursor: pointer;
  transition:0.25s ease-in-out;
   
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

audio::-webkit-media-controls-panel {
  background-color: #000000;
  display: flex;
}

audio {
  outline-offset: 0cap;
}

audio::-webkit-media-controls-play-button {
  display: none;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
  color: seashell
}

audio::-webkit-media-controls-timeline {
  border-radius: 10px;
  height: 0px;
  margin-left: 10px;
  margin-right: 10px;
  background-color: rgba(96, 236, 255, 0.8);
  color: aliceblue;
}

audio::-webkit-media-controls-timeline-container {
  background-color: rgba(187, 235, 14, 0.8);
  display: none;
}

audio::-webkit-media-controls-volume-slider {
  background-color: #B1D4E0;
  border-radius: 25px;
  padding-left: 8px;
  padding-right: 8px;
}

audio::-webkit-media-controls-toggle-closed-captions-button {
  display: none;
}

#modalc {
  color: rgb(48, 29, 29);
  background-color: rgb(37, 37, 37);
  overflow: hidden;
  padding: 40px;
  border-radius: 20px;
  width: 300px;
  top: 30%;
  animation: trans 2s linear ease-in-out;
}

.modalcustom {
  background-color: rgb(37, 37, 37);
  transform: scale(1.16)
}

@keyframes trans {
  0% {
    top: 30%;
  }

  100% {}
}

.flagged{ 
  animation: linearGradientMove 10s infinite ease-in-out;
  animation-delay: 2s;
}


@keyframes linearGradientMove {
  0% {
    background-image: conic-gradient( pink,rgb(0, 248, 227));
  }
  50%{
    background-image: conic-gradient( aqua,rgb(255, 221, 0));
  }
  100%{
    background-image: conic-gradient( purple,rgb(46, 4, 255));
  
  }
}
